:root {
  --darkBlue: #5E72EB;
  --lightBlue: #2653AF;
  --blue: #527CBC;
  --brightBlue: #4AB1D8;
}

.ContainerSec {
  background-color: rgb(241, 241, 241);
}

.container {
  background-color: #ffffff;
  border-radius: 5px;
  width: 22rem;
  min-height: 15rem;
}
 
.question {
  margin-top: 1rem;
  font-family: 'Alata', sans-serif; 
}

.options {
  display:flex;
  flex-direction: column;
  margin: 0 2rem 0 2rem;
}

.option {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  border: 2px solid var(--lightBlue);
  border-radius: 5px;
  padding: 0.3rem;
  margin: 1rem;
  cursor: pointer;
}

.option:hover {
  background: var(--lightBlue);
  color: white;
}

.option:active {
  background: var(--brightBlue);
  border-color: var(--brightBlue);
  color: white;
}

.navbar {
  background: var(--darkBlue) !important;
  color: white;
  font-family: 'Alata', sans-serif;
}

.heading {
  font-family: 'Alata', sans-serif;
  color: var(--lightBlue);
}

.fonticons {
  background:none;
  border: none;
  outline: none !important;
}
